Hi {{account.firstName}},

Welcome to Cloudstead! Before you can launch a new cloudstead, you must first verify your email address. Please follow the link below to do this.

{{activationUrl}}

Happy Cloudsteading!
