Em.I18n.translations = {
    app: {
        title: 'cloudstead.io'
    },
    sections: {
        login: 'Sign In',
        logout: 'Sign Out',
        registration: 'Create Your Admin Account',
        settings: 'Settings',
        new_cloud_os: 'Start a new CloudOs'
    },
    forms: {
        admin: {
            firstName: 'First Name',
            lastName: 'Last Name',
            email: 'Email',
            mobilePhone: 'Mobile Phone',
            mobilePhoneCountryCode: 'Mobile Phone Country Code',
            password: 'Password',
            password2: 'Confirm Password',
            tos: 'Please accept our Terms of Service',
            signup_button: 'Let\'s Get Started!',
            login_button: 'Sign In'
        },
        cloudos: {
            name: 'Name',
            emailDomain: 'Email Domain',
            userName: 'Admin user name',
            recoveryEmail: 'Recovery Email',
            new_button: 'Start CloudOs',
            relaunch_button: 'Relaunch CloudOs',
            cloudos_init: 'Please wait while CloudOS instance is being created...'
        }

    },
    errors: {
        field_required: 'This field is required',
        email_invalid: 'Email is invalid',
        password_mismatch: 'Password mismatch',
        password_short: 'Password must be at least 8 characters long',
        cloudosname_short: 'CloudOS name must be at least 4 characters long',
        cloudos_reserverd : 'Please use different cloudOs name'
    }
};