Em.I18n.translations = {

	app: {
		title: 'cloudstead.io'
	},
	sections: {
		login: 'Sign In',
		logout: 'Sign Out',
		registration: 'Create Your Admin Account',
		settings: 'Settings',
		new_cloud_os: 'Start a new CloudOs',
		login_two_factor: 'Sign-In Verification',
		index:{
			signup_button: "Sign Up",
			signin_button: "Sign In"
		},
		admin: {
			your_cloudsteads: 'Your Cloudsteads',
			account_details: 'Account details',
			delete: 'Delete',
			name: 'Name',
			running: 'Running',
			control: 'Control',
			no_cloudsteads_message: 'You have no running Cloudsteads. Click the "Start Cloudstead" button below to launch one.',
			dialogs: {
				confirm_delete_pre_name: "Are you sure you want to delete cloudstead ",
				confirm_delete_post_name: "?",
				info_delete_pre_name: "Cloudstead ",
				info_delete_post_name: " has been deleted.",
				error_delete_pre_name: "Error deleting cloudstead ",
				error_delete_post_name: ".",
			}
		}
	},
	forms: {
		admin: {
			firstName: 'First Name',
			lastName: 'Last Name',
			email: 'Email',
			mobilePhone: 'Mobile Phone',
			mobilePhoneCountryCode: 'Mobile Phone Country Code',
			password: 'Password',
			password2: 'Confirm Password',
			tos: 'Please accept our Terms of Service',
			activationCode: 'Activation Code',
			signup_button: 'Let\'s Get Started!',
			login_button: 'Sign In',
			cancel_button: 'Cancel',
			forgot_password: 'I forgot my pasword',
			update: 'Update'
		},
		cloudos: {
			name: 'Cloudstead Name',
			emailDomain: 'Email Domain',
			userName: 'Admin user name',
			recoveryEmail: 'Recovery Email',
			new_button: 'Start Cloudstead',
			relaunch_button: 'Relaunch CloudOs',
			launch_title: 'Launch a New Cloudstead',
			launch_string: 'Building a new Cloudstead, ',
			cloudos_init: 'Please wait while CloudOS instance is being created...'
		},
		verification:{
			verify_code : 'Verification Code',
			verify_info : 'What is this?',
			verify_submit: 'Submit',
			verify_msg: 'You should receive an SMS message containing an Authy token for two-factor authenticatoin to cloudstead.io at the mobile number you submitted on the previous screen. Please enter the code you receive and click \'Submit\' below to complete your account setup.'
		},
		reset_password: {
			label: "Reset password",
		}

	},
	errors: {
		field_required: 'This field is required',
		email_invalid: 'Email is invalid',
		password_mismatch: 'Password mismatch',
		password_short: 'Password must be at least 8 characters long',
		cloudosname_short: 'CloudOS name must be at least 4 characters long',
		cloudos_reserverd : 'Please use different cloudOs name',
		two_factor_code_invalid: 'Invalid verification code',
		bad_credentials: 'Password and email don\'t match',
		not_a_number: 'Must contain only digits: 0..9',
		not_a_phone_number: 'Must contain only digits, hyphens and spaces'
	},
	setup:{
		creatingCloudAdminAccount: 'Creating cloud platform account...',
		savingCloudAdminAccount: 'Saving cloud platform account...',
		startingMasterInstance: 'Launching the Ubuntu OS for the instance...',
		updatingCloudOsToMarkAsRunning: 'Instance is now running, updating the DB...',
		creatingDnsRecord: 'Creating DNS records for the instance...',
		generatingSendgridCredentials: 'Creating SMTP relay credentials for instance...',
		buildingInitializationFile: 'Creating initialization bundle for instance...',
		cheffing: 'Running Chef on the instance...',
		completed: 'Completing the instance...',
		success: 'Finished successfully.',
		creatingCloudOs: {
			error: 'error creating instance in database'
		},
		instanceLookup: 'finding the instance out there on the Internet...',
		teardownPreviousInstance: 'found the instance, killing it so we can start fresh',
		teardownPreviousInstanceError: {
			nonFatalError: "an error occurred tearing down the instance, but we'll continue setting up the new one anyway"
		},
		error: {
			creatingCloudAdminAccount: {
				notUnique: 'cloud platform account already exists',
				checkingExistenceOfIAMuser: 'error looking up IAM user',
				iamAdd: {
					serverError: 'error creating IAM user'
				},
				iamKey: {
					serverError: 'error creating IAM user key'
				},
			},
			savingCloudAdminAccount: {
				serverError: 'error saving cloud platform account'
			},
			startingMasterInstance: {
				serverError: 'error launching instance'
			},
			updatingCloudOsToMarkAsRunning: {
				serverError: 'error updating DB to mark instance running'
			},
			creatingDnsRecord: {
				serverError: 'error creating DNS record(s)'
			},
			generatingSendgridCredentials: {
				apiError: 'error creating SMTP credentials'
			},
			buildingInitializationFile: {
				serverError: 'error creating init bundle'
			},
			cheffing: {
				serverError: 'error running chef on the instance'
			},
			unexpected: {
				willRetry: 'a fatal error occurred and we will retry launching the cloudstead',
				final: 'a fatal error occurred and we will NOT retry'
			},
			notOwner: 'you tried to create a cloudstead with a name that is already in use (fatal error)'
		}
	},
	destroy: {
		tearingDownInstance: 'starting to teardown the instance...',
		removingDnsRecords: 'removing DNS records...',
		deletingFromDB: 'removing from DB...',
		success: 'teardown was successful',
		error: {
			tearingDownInstance: 'error tearing down instance',
			removingDnsRecords: 'error removing DNS records',
			deletingFromDB: ' error removing from DB'
		}
	},
	notifications: {
		forgot_password_email_sent: "You have been sent an email with a link for reseting your password.",
		reset_password_successful: "Your password was changed successfuly. You will be redirected to login in"
	}
};
