body{
	height: 100%;
}
body > .ember-view {
	min-height:100%;
	position:relative;
}
.footer-list{
	display: table;
	margin: 0 auto;
	margin-bottom: 25px;
}

#cloudstead-content {
	padding-bottom: 1em;
}

.footer{
	background-color: #03a2cc !important;
	position: absolute;
	bottom: 0px;
	width: 100%;
	z-index:1;
}

.topit{
	margin-top: 14px;
}

.modal {

	width: 70%;
	background-color: #fff;
	left: 0;
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 100px;
	margin-bottom: 100px;
	z-index:20;

}

.overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index:20;
}

.modal-filler{
	background-color: #03a2cc !important;
	color: #FFFFFF;
	font-size: 14px;
	margin-left: 0px !important;
	margin-right: 0px !important;
	max-width: 100%;
	padding: 15px;
}

.modal-content{
	padding-top : 10px;
	padding-bottom : 10px;
}

.msg-mod{
	margin-left: 10px;
}

label.right{
	float: right !important;
}
.tabs dd, .tabs .tab-title {
	width: 32.6%;
}

.tabs dd.active a, .tabs .tab-title.active a {
	background: #03a2cc;
	color: #FFF;
}

.el_hidden{
	display: none;
}

.el_visible{
	display: inline;
}

.select-container{
	margin-bottom: 1em;
}

.half-width-tab{
	width: 50% !important;
}

.forgot-password-notification{
	color: rgba(204, 88, 74, 1);
	margin: 1em;
}

.loading_animation{
	background: rgba(255, 255, 255, 0.4);
	z-index: 100;
	width: 100%;
	height: 100%;
	position: absolute;
}

.loading_animation .animation_gif{
	background-image: url("../images/spinner.gif");
	width: 128px;
	height: 130px;
	margin: auto;
	position: absolute;
	top: 0px;
	right:0px;
	bottom: 0px;
	left: 0px;
}
